.menu {
    top: 0px;
    left: 0px;
    position: fixed;
    height: 7vh;
    background: var(--background-color);
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    transition: all 0.3s ease;
}

.menu_top {
    width: 87%;
    margin: 0 6.5%;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu p{
    font-size : var(--heading-1-font-size);
    font-weight : 600;
    color :  var(--text-color);
}

.menu svg {
    height : 25%;
    fill : var(--text-sub-color);
}

.container {
    margin-top: calc(7vh + var(--margin_bottom_2));
    width: 100%;

    transition: all 0.3s ease;
}

.setting_block {
    margin-left: 5%;
    width: 90%;
    margin-bottom: var(--margin_bottom_1);
}

.setting_block p{
    font-size: var(--heading-2-font-size);
    color: var(--text-sub-color);
    margin: 0;
    margin-bottom: 0.3rem;
}

.settings {
    border-radius: var(--border-radius-1);
    background-color: var(--background-sub-color);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.setting {
    margin: var(--margin_bottom_3) 0;
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
}

.setting div{
    display: flex;
}

.setting p{
    font-size: var(--text-1-font-size);
    color: var(--text-color);
    margin: 0;
    font-weight: 600;
}

.setting svg {
    width: 1.3rem;
    fill: var(--text-color);
}

.setting_left p {
    margin-left: 0.5rem;
}

.setting_right p {
    margin-right: 0.5rem;
}

up {
    color: var(--up-color);
}

down {
    color: var(--down-color);
}

a {
    text-decoration: none;
    font-size: var(--text-1-font-size);
    color: var(--text-color);
}

#trend_color_icons svg{
    translate: fill 0.3s ease;
}

#trend_color_icons svg:nth-child(1) {
    fill: var(--up-color);
    margin-right: 0.3rem;
}

#trend_color_icons svg:nth-child(2) {
    fill: var(--down-color);
}

.user {
    margin: 0 5%;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-bottom: var(--margin_bottom_1);
    display: none;
}

.user_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.user_header p{
    color: var(--text-color);
    font-size: var(--heading-1-font-size);
    font-weight: 600;
    max-width: 85%;
    white-space: nowrap;         /* 防止文本换行 */
    overflow: hidden;            /* 隐藏溢出部分 */
    text-overflow: ellipsis;     /* 显示省略号 */
}

.user_header a{
    color: #F5F5F7;
    font-size: var(--text-2-font-size);
}

.user_header div{
    border-radius: 0.3rem;
    padding: 0.1rem 0.5rem;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    margin-left: 1rem;
    display: none;
}

.user_btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.user_btns div{
    width: 8.5rem;
    display: flex;
    justify-content: center;
    height: 2.5rem;
    align-items: center;
}

.user_btns p{
    margin: 0;
}

.user_btns div:first-child {
    border: 2px solid var(--primary-color);
    border-radius: 99px;
    color: var(--text-color);
}

.user_btns div:last-child {
    background-color: var(--primary-color);
    border-radius: 99px;
    box-shadow: 0 0 10px var(--primary-color);
    color: var(--text-color-white);
}